<%= render 'pages/home' unless user_signed_in? %>

<div id="tiles" class="transitions-enabled">
  <% @tiles.each do |tile| %>
    <div class="box panel panel-default">
      <%= link_to image_tag(tile.image.url), tile %>
      <div class="panel-body">
        <%= tile.description %><br>
        <b><%= tile.user.email if tile.user %></b>

        <% if tile.user == current_user %>
          <div class:"actions">
            <%= link_to edit_tile_path(tile) do %>
                <span class="glyphicon glyphicon-edit"></span> Edit
            <% end %>

            <%= link_to tile, method: :delete, data: { confirm: 'Are you sure?' } do %>
                 <span class="glyphicon glyphicon-remove"></span> Delete
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>