

<%= link_to 'Back', tiles_path %>


    <div class="panel panel-default">
      <div class="panel-heading center">

		<style>
		img {
			max-width: 100%;
			max-height: 900px;
		}
		</style>

        <%= image_tag @tile.image.url %>
      </div>
      <div class="panel-body">
        <p><%= @tile.description %></p>
        <p><strong><%= @tile.user.email if @tile.user %></strong></p>

        <% if @tile.user == current_user %>
        

            <%= link_to edit_tile_path(@tile) do %>
                <span class="glyphicon glyphicon-edit"></span> Edit
            <% end %>

            <%= link_to (@tile), method: :delete, data: { confirm: 'Are you sure?' } do %>
                 <span class="glyphicon glyphicon-remove"></span> Delete
            <% end %>

        <% end %>

      </div>
    </div>

</div>
